<h1>
        {{ today  | date : 'longDate'}}
        <p></p>
        {{ today  | date : 'dd-MM-y'}}
        <p></p>
        {{ amount | currency : 'INR': true :'10.3-4' }}
        <p></p>
        {{ amount | currency  }}
        <p></p>
        {{ amount | number : '8.2-2' }}
        <p></p>
        {{ 0.1254 | percent }}
        <p></p>
        {{ name  | uppercase  }}
        <p></p>
        {{ name  | slice : -5 | uppercase  }}
        <p></p>
        {{ name  | slice : 3:8 | titlecase  }}
        <p></p>
        {{ person }}
        <p></p>
        {{ person | json }}
        <p></p>
        {{ name | brackets : 'u' }}
        <p></p>
        {{ name | slice : 10 | brackets }}
        
</h1>