<h1>Skill Ratings</h1>

Skill <input type="text" #skill/>
Rating <select #rating>
    <option value='1'>1</option>
    <option value='2'>2</option>
    <option value='3'>3</option>
    <option value='4'>4</option>
    <option value='5'>5</option>
</select>
<p></p>
<button (click)="addSkill(skill.value, rating.value)">Add</button>
<p></p>
<table border='1' *ngIf="skills.length > 0;else noskills">
    <tr>
        <th>Skill</th>
        <th>Rating</th>
        <th></th>
    </tr>
    <tr *ngFor="let e of skills;let idx = index"> 
       <td>{{e.name}}</td>
       <td>{{e.rating}}</td>
       <td><button  [attr.title]="'Delete ' + e.name + 'skill'" 
                    (click)="deleteSkill(idx)">Delete</button></td>
    </tr>
</table>
<ng-template #noskills><h3>No skills provided!</h3></ng-template>
    
  
